.mainBody {
    display: flex;
    height: 100vh;
    margin: 0;
    font-size: medium;
    font-family: emoji;
    background-color: aqua;
    background-size: cover;
    background-position: center; /* Optional: Center the background image */
    width: 100%;
    display: flex;
    justify-content: left;
    
  }
