.CI{
   height: 70vh;
}
#yo
{
    background-color: white;
   height: 30vh;
    display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 18px -4px 38px #67fa06;
      text-align: center;
      width: 100%;
}
h5
{
   color: #fad506;
}
@media (max-width: 768px) {
   .CI {
     height: 50vh;
   }
   #yo {
      height: 50vh;
      
    }
    
 }
 #yo p {
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 1s ease; /* Add transition property */
}

#yo:hover p {
  opacity: 1; /* Change opacity on hover */
}
